body{
    background-color: green;
}
#card{
    background-color: white;
    width: 200px;
    height: 250px;
    border: 1px solid black;
    border-radius: 20px;
}
#paloArriba{
    margin-top: 0px;
    margin-left: 9%;
    font-size: 35px;
}
#numero{
    margin-left: 43%;
    font-size: 35px;
}
#paloAbajo{
    margin-top: 40%;
    margin-left: 80%;
    font-size: 35px;
}
